<% @indics.each do |indic| %>
    <tr>
        <td width="3%"><%= indic.id %></td>
        <td><%= indic.client_child.name %></td>
        <td><%= indic.level %></td>
        <td><% @total_points = 0%>
            <% indic.point.each do |point_l| %>
            <%  @total_points = @total_points+point_l.points.to_i %>
            <% end %>
            <%=@total_points%>
        </td>
        
    </tr>
<% end %>