<h1 class="page-header">Indicações e Pontos</h1>

<div class="panel panel-default" >
    <div class="panel-heading">
        Opções
    </div>
    <!-- /.panel-heading -->

    <div class="panel-body">
        <div class="col-sm-12">
            <ul class="nav nav-pills nav-fill">
                <div class="col-sm-12">
                        <%= form_tag panel_indications_path, method: :get do %>
                        <div class="col-sm-12 col-md-1">
                            <label>De:</label>
                        </div>
                        <div class="col-sm-12 col-md-2">
                                <%= date_field_tag('start_period', params[:start_period], class: "form-control datepicker")  %>
                        </div>
                        <div class="col-sm-12 col-md-1">
                            <label>até:</label>
                        </div>
                        <div class="col-sm-12 col-md-2">
                                <%= date_field_tag('end_period', params[:end_period], class: "form-control datepicker")  %>
                        </div>
                        <div class="col-sm-12 col-md-1">
                                <label>Nível:</label>
                            </div>
                        <div class="col-sm-12 col-md-2">
                            <%= select_tag('level',options_for_select(@levels), class:" form-control")  %>
                        </div>                            
                            <%= submit_tag("Pesquisar", class: "btn btn-default") %>
                        <% end %>
                </div>
            </ul>
        </div>
    </div>
    <!-- /.panel-body -->
</div>

<div class="panel panel-default" >
    <div class="panel-heading">
        Listando Indicados <span class="badge badge-light"><% %></span>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Indicado</th>
                        <th>Nível</th>
                        <th>Pontos</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <%= render partial: 'panel/indications/search' %>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
        </p> <center><%#= paginate @indications %></center>
    </div>
    <!-- /.panel-body -->
</div>

