<h1 class="page-header">Clientes</h1>
<% if @client.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <!-- message -->
    <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  </div>
<% end %>
<div class="panel panel-default" >
    <div class="panel-heading">
        <%= action %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="col-lg-6">
            <%= form_for([:backoffice, @client]) do |f| %>
            <div class="form-group">
                <label>Email</label>
                <%= f.text_field :email, class:"form-control", placeholder:"Email do cliente" %>
            </div>
            <div class="form-group">
                <label>Senha</label>
                <%= f.password_field :password, class:"form-control", placeholder:"Senha" %>
            </div>
            <div class="form-group">
                <label>Confirmação da Senha</label>
                <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Confirmação da Senha" %>
            </div>
            <div class="form-group">
                <label>Nome</label>
                <%= f.text_field :name, class:"form-control", placeholder:"Nome" %>
            </div>
            <div class="form-group">
                <label>Telefone</label>
                <%= f.nested_fields_for :phones do |ff| %>
                  <%= ff.text_field :phone, class:"form-control", placeholder:"Telefone", onkeyup:"mascara('(##)#####.####',this,event)" %>
                <% end  %>
                <br />
                <%= f.add_nested_fields_link :phones, 'Adicionar', class: 'btn btn-outline btn-primary btn-sm', role: 'button' %>
                <%= f.remove_nested_fields_link 'Excluir', data: { confirm: 'Tem certeza que deseja remover todos os telefones?' }, class: 'btn btn-outline btn-danger btn-sm', role: 'button' %>
            </div>
            <div class="form-group">
                <label>CPF</label>
                <%= f.text_field :cpf, class:"form-control", placeholder:"CPF", onkeyup:"mascara('###.###.###-##',this,event)" %>
            </div>
            <div class="form-group">
                <label>RG</label>
                <%= f.text_field :rg, class:"form-control", placeholder:"RG", onkeyup:"mascara('##.###.###-#',this,event)" %>
            </div>
            <div class="form-group">
                <label>Data de nascimento:</label>
                <%= f.text_field :birthdate, class: "form-control", id: "datepicker1", value: l(Date.today) %>
            </div>
            <div class="form-group">
                <label>Endereço</label>
                <%= f.text_field :address, class:"form-control", placeholder:"Endereço" %>
            </div>
            <div class="form-group">
                <label>Complemento:</label>
                <%= f.text_field :complement, class: "form-control", placeholder: "Complemento do endereço" %>
            </div>
            <div class="form-group">
                <label>Bairro</label>
                <%= f.text_field :neighbohod, class:"form-control", placeholder:"Bairro" %>
            </div>
            <div class="form-group">
                <label>País</label>
                <%= f.text_field :country, class:"form-control", placeholder:"País" %>
            </div>
            <div class="form-group">
                <label>Estado</label>
                <%= f.select :state, options_for_states(@client.state), {}, {:class =>"form-control"} %>
            </div>
            <div class="form-group">
                <label>Cidade</label>
                <%= f.text_field :city, class:"form-control", placeholder:"Cidade" %>
            </div>
            <div class="form-group">
                <label>CEP</label>
                <%= f.text_field :postal_code, class:"form-control", placeholder:"CEP", onkeyup:"mascara('##.###-###',this,event)" %>
            </div>
            <div class="form-group">
                <label>Status</label>
                <%= f.select :status, options_for_status(@client.status), {}, {:class =>"form-control"} %>
            </div>
            <br>
            <hr class="style11">
            <h4><span><p>Dados da conta bancária:</p></span></h4><br>

            <%= f.fields_for :bank do |b|  %>
                <div class="form-group">
                    <label>Nome do Banco</label>
                    <%= b.text_field :bank_name, class:"form-control", placeholder:"Nome do banco" %>
                </div>
                <div class="form-group">
                    <label>Tipo da conta:</label>
                    <%= b.select :bank_account_type, options_for_acc_type(@client.bank.bank_account_type), {}, {:class =>"form-control"} %>
                </div>
                <div class="form-group">
                    <label>Agência:</label>
                    <%= b.text_field :bank_agency, class:"form-control", placeholder:"Agência" %>
                </div>
                <div class="form-group">
                    <label>Conta:</label>
                    <%= b.text_field :bank_account, class:"form-control", placeholder:"Número da conta" %>
                </div>
                <div class="form-group">
                    <label>Variação</label>
                    <%= b.text_field :bank_variance, class:"form-control", placeholder:"Variação" %>
                </div>
            <% end %>
            <div class="form-group">
                <label>Indicado por:</label>
                <%= f.text_field :client_name, class: "form-control sell_client_name", data: { autocomplete_source: backoffice_clients_path} %>
            </div>
            <button type="submit" class="btn btn-default">Cadastrar</button>
            <% end %>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /panel panel-default -->
