<!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to backoffice_path, class: "navbar-brand" do  %>
                    +Joias
                <% end %>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <%= current_client.email %>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                        <%= link_to destroy_client_session_path, method: :delete do  %>
                            <i class="fa fa-sign-out fa-fw"></i>
                            Logout
                        <% end %>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <%= link_to panel_path do %>
                                <i class="fa fa-dashboard fa-fw"></i> Dashboard
                            <% end %>
                        </li>
                        <li>
                            <%= link_to panel_reportsells_path do %>
                                <i class="fa fa-list-ul fa-fw"></i> Vendas
                            <% end %>
                        </li>
                        <li>
                            <%= link_to panel_indications_path do %>
                                <i class="fa fa-sitemap fa-fw"></i> Indicados/Pontos
                            <% end %>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-registered fa-fw"></i> Resgates<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <%= link_to panel_rescuepoints_path do %>
                                        Meus Regates
                                    <% end %>
                                    <%= link_to new_panel_rescuepoint_path do %>
                                        Solicitar Regate
                                    <% end %>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
