<h1 class="page-header">Resgates</h1>

<div class="panel panel-default" >
    <div class="panel-heading">
        Opções
    </div>
    <!-- /.panel-heading -->

    <div class="panel-body">
        <div class="col-sm-12">
            <ul class="nav nav-pills nav-fill">
                <div class="col-sm-12">
                        <%= form_tag backoffice_rescuepoints_path, method: :get do %>
                        <div class="row">
                            <div class="col-sm-12 col-md-1">
                                <label>De:</label>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                    <%= date_field_tag('search_created_at[start_period]', params[:start_period], class: "form-control datepicker")  %>
                            </div>
                            <div class="col-sm-12 col-md-1">
                                <label>até:</label>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                    <%= date_field_tag('search_created_at[end_period]', params[:end_period], class: "form-control datepicker")  %>
                            </div>
                            <% if current_admin.id==2%>
                                <div class="col-sm-12 col-md-1">
                                        <label>Filial:</label>
                                    </div>
                                <div class="col-sm-12 col-md-2">
                                    <%= select_tag('search_branch',options_for_select(@branchs.map{|r| [r.name,r.id]}), {:include_blank => 'Todos', :class => "form-control"})  %>
                                </div>
                            <% end %>          
                        </div>
                        <div class="row">
                        </br>
                            <div class="col-md-1">
                                <label>Cliente:</label>
                            </div>
                            <div class="col-md-6">
                                <%= select_tag('search_client', options_for_select(@clients.map{|r| [r.name,r.id]}), {:include_blank => 'Todos', :class => "form-control"}) %>
                            </div>
                        </div>
                        <div class="row">
                                <%= hidden_field_tag('active', 0) %>
                                <%= submit_tag("Pesquisar", class: "btn btn-default") %>
                            <% end %>
                        </div>
                            
                </div>
            </ul>
        </div>
    </div>
    <!-- /.panel-body -->
</div>


<div class="panel panel-default" >
    <div class="panel-heading">
        Listando resgates <span class="badge badge-light"><%= @rescuepoints.count %></span>
       
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Cliente</th>
                        <th>Parâmetro</th>
                        <th>Pontos</th>
                        <th>Resgatado</th>
                        <th>Cód. Voucher</th>
                        <th>Status do Voucher</th>
                        <th colspan="2">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <% @rescuepoints.each do |rescues| %>
                        <tr>
                            <td width="3%"><%= rescues.id %></td>
                            <td><%= rescues.client.name %></td>
                            <td><%= rescues.rescuetype.label %></td>
                            <td><%= rescues.points %></td>
                            <td><%= rescues.rescued_br %></td>
                            <td><%= rescues.voucher.nil? ? 'Sem Voucher' : rescues.voucher.code  %></td>
                            <td><%= rescues.voucher.nil? ? 'Sem Voucher' : rescues.voucher.status  %></td>
                            
                            
                            <td>
                            <% if rescues.voucher and rescues.rescued=='no' %>
                                <% if rescues.voucher.status=="Liberado" %>
                                    <%= link_to edit_backoffice_rescuepoint_path(rescues.id), class: "btn btn-primary btn-circle" do %>
                                        <i class="fa fa-edit"></i>
                                    <% end %>
                                <% end %>
                            <% elsif rescues.rescued=="no" %>
                                <%= link_to edit_backoffice_rescuepoint_path(rescues.id), class: "btn btn-primary btn-circle" do %>
                                    <i class="fa fa-edit"></i>
                                <% end %>
                            <% end %>
                            </td>
                            
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
        </p> <center><%#= paginate @rescuepoints %></center>
    </div>
    <!-- /.panel-body -->
</div>

