<!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to backoffice_path, class: "navbar-brand" do  %>
                    Mais Joias
                <% end %>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <%= current_admin.email %> - <%= l(Date.today) %>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                        <%= link_to destroy_admin_session_path, method: :delete do  %>
                            <i class="fa fa-sign-out fa-fw"></i>
                            Sair
                        <% end %>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <%= link_to backoffice_path do %>
                                <i class="fa fa-dashboard fa-fw"></i> Dashboard
                            <% end %>
                        </li>
                        <li>
                            <%= link_to backoffice_sells_path do %>
                                <i class="fa fa-money"></i> Vendas / Devoluções
                            <% end %>
                        </li>
                        <% if current_admin.name=="Raphael"%>
                            <li>
                                <%= link_to filiais_path do %>
                                    <i class="fa fa-university"></i> Filiais
                                <% end %>
                            </li>
                        <li>
                            <%= link_to parameters_path do %>
                                <i class="fa fa-cogs"></i> Parâmetros
                            <% end %>
                        </li>
                        <% end %>
                        <li>
                            <%= link_to rescuepoints_path do %>
                                <i class="fa fa-registered"></i> Resgates
                            <% end %>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-users fa-fw"></i> Usuários<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <%= link_to backoffice_clients_path do %>
                                        Clientes
                                    <% end %>
                                </li>
                                <% if current_admin.name=="Raphael"%>
                                    <li>
                                        <%= link_to backoffice_admins_path do %>
                                        Administradores
                                        <% end %>
                                    </li>
                                <% end %>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
