<h1 class="page-header">Administradores</h1>
<div class="panel panel-default" >
    <div class="panel-heading">
        Listando administradores <span class="badge badge-light"><%= @contador.count %></span>
        <%= link_to new_backoffice_admin_path, class: "btn btn-success pull-right", style: "margin-top: -5px" do %>
            Novo Cadastro
        <% end %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Filial</th>
                        <th>Status</th>
                        <th colspan="2">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <% @admins.each do |admin| %>
                        <tr>
                            <td width="3%"><%= admin.id %></td>
                            <td><%= admin.name %></td>
                            <td><%= admin.email %></td>
                            <td><%= admin.branch.name %></td>
                            <td><%= admin.status_br %></td>
                            <td width="3%">
                                <%= link_to edit_backoffice_admin_path(admin.id), class: "btn btn-primary btn-circle" do %>
                                    <i class="fa fa-edit"></i>
                                <% end %>
                            </td>
                            <td width="3%">
                                <% if current_admin.id != admin.id %>
                                    <%= link_to backoffice_admin_path(admin.id), class: "btn btn-danger btn-circle", data: {confirm: "Você realmente deseja excluir (#{admin.email})?"}, method: :delete do  %>
                                        <i class="fa fa-minus"></i>
                                    <% end %>
                                <% else %>
                                    <%= link_to '#', disabled: "disabled", class: "btn btn-danger btn-circle" do  %>
                                        <i class="fa fa-minus"></i>
                                    <% end %>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
        </p> <center><%= paginate @admins %></center>
    </div>
    <!-- /.panel-body -->
</div>

