<h1 class="page-header">Clientes</h1>
<% if @client.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <!-- message -->
    <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  </div>
<% end %>
<div class="panel panel-default" >
    <div class="panel-heading">
        <%= action %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="col-lg-6">
            <%= form_for([:backoffice, @client]) do |f| %>
            <div class="form-group">
                <label>Email</label>
                <%= f.text_field :email, class:"form-control", placeholder:"Email do cliente" %>
            </div>
            <div class="form-group">
                <label>Senha</label>
                <%= f.password_field :password, class:"form-control", placeholder:"Senha" %>
            </div>
            <div class="form-group">
                <label>Confirmação da Senha</label>
                <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Confirmação da Senha" %>
            </div>
            <div class="form-group">
                <label>Nome</label>
                <%= f.text_field :name, class:"form-control", placeholder:"Nome" %>
            </div>
            <div class="form-group">
                <label>Nível de acesso</label>
                <%= f.text_field :role, class:"form-control", placeholder:"Nível de acesso (0 - 1)" %>
            </div>
            <div class="form-group">
                <label>CPF</label>
                <%= f.text_field :cpf, class:"form-control", placeholder:"CPF", onkeyup:"mascara('###.###.###-##',this,event)" %>
            </div>
            <div class="form-group">
                <label>RG</label>
                <%= f.text_field :rg, class:"form-control", placeholder:"RG", onkeyup:"mascara('##.###.###-#',this,event)" %>
            </div>
            <button type="submit" class="btn btn-default">Cadastrar</button>
            <% end %>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /panel panel-default -->
