<h1 class="page-header">Vendas</h1>
<% if @sell.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <!-- message -->
    <ul>
      <% @sell.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  </div>
<% end %>
<div class="panel panel-default" >
    <div class="panel-heading">
        <%= action %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="col-lg-6">
            <%= form_for([:backoffice, @sell]) do |f| %>
            <div class="form-group">
                <label>Cliente</label><br />
                <%= @sell.client.name %>
            </div>
            <div class="form-group">
                <label>Data da venda</label>
                <%= f.text_field :sell_date, class: "form-control datepicker", value: (l(@sell.sell_date) unless @sell.sell_date.blank?) %>
            </div>
            <div class="form-group">
                <label>Valor da venda</label>
                <%= f.text_field :value, class: "form-control", placeholder: "Ex.: 1350,15" %>
            </div>
            <div class="form-group">
                <label>Código</label>
                <%= f.text_field :code, class:"form-control", placeholder:"Código da venda" %>
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <%= f.text_area :description, class:"form-control", placeholder:"Descrição da venda" %>
            </div>
            <button type="submit" class="btn btn-default">Cadastrar</button>
            <% end %>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /panel panel-default -->
