<h1 class="page-header">Vendas / Devoluções</h1>
<% if @sell.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <!-- message -->
    <ul>
      <% @sell.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  </div>
<% end %>

<!-- Painel de opções -->
<div class="panel panel-default" >
    <div class="panel-heading">
        Opções
    </div>
    <!-- /.panel-heading -->

    <div class="panel-body">
        <div class="col-sm-9">
            <ul class="nav nav-pills nav-fill">
                <div class="col-4 col-sm-3">
                    <div class="input-group mb-2 mb-sm-0">
                        <div class="input-group-addon">Vendas</div>
                        <li class="nav-item">
                             <input id="checkbox1" type="checkbox" checked data-toggle="toggle" data-on="Ativado" data-off="Desativado">
                        </li>
                    </div>
                    <div id="status1"></div>
                </div>
                <div class="col-4 col-sm-3">
                    <div class="input-group mb-2 mb-sm-0">
                        <div class="input-group-addon">Devoluções</div>
                        <li class="nav-item">
                             <input id="checkbox2" type="checkbox" checked data-toggle="toggle" data-on="Ativado" data-off="Desativado">
                        </li>
                    </div>
                    <div id="status2"></div>
                </div>
                <div class="col-4 col-sm-3">
                    <div class="input-group mb-2 mb-sm-0">
                        <div class="input-group-addon">Vendas e Devoluções</div>
                        <li class="nav-item">
                             <input id="checkbox3" type="checkbox" checked data-toggle="toggle" data-on="Ativado" data-off="Desativado">
                        </li>
                    </div>
                    <div id="status3"></div>
                </div>
            </ul>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /panel panel-default -->


<!-- VENDAS -->
<div class="panel panel-default" id="formvendas">
    <div class="panel-heading">
        Vendas
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="col-lg-6">
            <%= form_for([:backoffice, @sell]) do |f| %>
            <div class="form-group">
                <label>Cliente</label>
                <%= f.text_field :client_name, class: "form-control sell_client_name", data: { autocomplete_source: backoffice_clients_path} %>
            </div>
            <div class="form-group">
                <label>Data da venda</label>
                <%= f.text_field :sell_date, class: "form-control", id: "datepicker1", value: l(Date.today) %>
            </div>
            <div class="form-group">
                <label>Valor da venda</label>
                <%= f.text_field :value, class: "form-control", placeholder: "Ex.: 1350,15" %>
            </div>
            <div class="form-group">
                <label>Nota fiscal</label>
                <%= f.text_field :code, class:"form-control", placeholder:"Nota fiscal da venda" %>
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <%= f.text_area :description, class:"form-control", placeholder:"Descrição da venda", size: "60x12" %>
            </div>
            <%= f.hidden_field(:sell_type, value: "formvendas") %>
            <%= f.hidden_field(:status, value: "active") %>
            <button type="submit" class="btn btn-default">Cadastrar</button>
            <% end %>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /panel panel-default -->

<!-- DEVOLUÇÕESa -->
<div class="panel panel-default" id="formdev">
    <div class="panel-heading">
        Devoluções
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="col-lg-6">
            <%= form_for([:backoffice, @sell]) do |f| %>
            <div class="form-group">
                <label>Cliente</label>
                <%= f.text_field :client_name, class: "form-control sell_client_name", data: { autocomplete_source: backoffice_sells_path} %>
            </div>
            <div class="form-group">
                <label>Data da venda</label>
                <%= f.text_field :sell_date, class: "form-control", id: "datepicker2", value: l(Date.today) %>
            </div>
            <div class="form-group">
                <label>Valor da venda</label>
                <%= f.text_field :value, class: "form-control", placeholder: "Ex.: 1350,15" %>
            </div>
            <div class="form-group">
                <label>Nota fiscal</label>
                <%= f.text_field :code, class:"form-control", placeholder:"Nota fiscal da venda" %>
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <%= f.text_area :description, class:"form-control", placeholder:"Descrição da venda", size: "60x12" %>
            </div>
            <%= f.hidden_field(:sell_type, value: "formdev") %>
            <%= f.hidden_field(:status, value: "active") %>
            <button type="submit" class="btn btn-default">Cadastrar</button>
            <% end %>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /panel panel-default -->


<!-- VENDAS E DEVOLUÇÕES -->
<div class="panel panel-default" id="formvendasdev">
    <div class="panel-heading">
        Vendas e Devoluções
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="col-lg-6">
            <%= form_for([:backoffice, @sell]) do |f| %>
            <div class="form-group" >
                <label>Cliente</label>
                <%= f.text_field :client_name, class: "form-control sell_client_name", data: { autocomplete_source: backoffice_sells_path} %>
            </div>
            <div class="form-group">
                <label>Data da venda</label>
                <%= f.text_field :sell_date, class: "form-control", id: "datepicker3", value: l(Date.today) %>
            </div>
            <div class="form-group">
                <label>Valor da venda</label>
                <%= f.text_field :value_venda, class: "form-control", placeholder: "Ex.: 1350,15" %>
            </div>
            <div class="form-group">
                <label>Valor da devolução</label>
                <%= f.text_field :value, class: "form-control", placeholder: "Ex.: 3218,15" %>
            </div>
            <div class="form-group">
                <label>Nota fiscal</label>
                <%= f.text_field :code, class:"form-control", placeholder:"Nota fiscal da venda" %>
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <%= f.text_area :description, class:"form-control", placeholder:"Descrição da venda", size: "60x12" %>
            </div>
            <%= f.hidden_field(:sell_type, value: "formvendasdev") %>
            <%= f.hidden_field(:status, value: "active") %>
            <button type="submit" class="btn btn-default">Cadastrar</button>
            <% end %>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /panel panel-default -->



