<h1 class="page-header">Filiais</h1>
<% if @branch.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <!-- message -->
    <ul>
      <% @branch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  </div>
<% end %>
<div class="panel panel-default" >
    <div class="panel-heading">
        <%= action %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="col-lg-6">
            <%= form_for([:backoffice, @branch]) do |f| %>
            <div class="form-group">
                <label>Nome</label>
                <%= f.text_field :name, class:"form-control", placeholder:"Nome da Filial" %>
            </div>
            <div class="form-group">
                <label>Cidade</label>
                <%= f.text_field :city, class:"form-control", placeholder:"Cidade" %>
            </div>
            <div class="form-group">
                <label>Endereço</label>
                <%= f.text_field :address, class:"form-control", placeholder:"Endereço" %>
            </div>
            <div class="form-group">
                <label>Bairro</label>
                <%= f.text_field :neighbohod, class:"form-control", placeholder:"Bairro" %>
            </div>
            <div class="form-group">
                <label>Estado</label>
                <%= f.select :state, options_for_states(@branch.state), {}, {:class =>"form-control"} %>
            </div>
            <div class="form-group">
                <label>Status</label>
                <% estado_admin = "" %>
                <% estado_client = "" %>

                <% @branch.admins.each do |i|  %>
                  <% estado_admin = i.name %>
                <% end %>

                <% @branch.clients.each do |i|  %>
                  <% estado_client = i.name %>
                <% end %>
                <% if estado_admin == "" && estado_client == "" %>
                    <%= f.select :status, options_for_status(@branch.status), {}, {:class =>"form-control"} %>
                <% else %>
                    <br /><%= @branch.status_br %>
                    <br /><i>Obs.: Status não pode ser alterado porque possui vínculo com Clientes ou Administradores.</i>
                <% end %>
            </div>
            <button type="submit" class="btn btn-default">Cadastrar</button>
            <% end %>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /panel panel-default -->
