<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Login - Admin</h3>
                </div>
                <div class="panel-body">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name, role: "form")) do |f| %>
                        <fieldset>
                            <div class="form-group">
                                <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "E-mail", type: "email", autofocus: "autofocus" %>
                            </div>
                            <div class="form-group">
                                <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Senha", type: "password" %>
                            </div>
                            <!--<div class="checkbox">
                                <label>
                                    <%#= f.check_box :remember_me %>
                                    <%#= f.label :remember_me %>
                                </label>
                            </div>-->
                            <!-- Change this to a button or input when using this as a form -->
                            <%= f.submit "Entrar", class: "btn btn-lg btn-primary btn-block" %>
                        </fieldset>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>


<% flash.each do |key, value| %>
    <script>
        $.notify("<%= value %>", "info")
    </script>
<% end %>

