<%= form_with(model: backoffice_sell, local: true) do |form| %>
  <% if backoffice_sell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(backoffice_sell.errors.count, "error") %> prohibited this backoffice_sell from being saved:</h2>

      <ul>
      <% backoffice_sell.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.text_field :client_id, id: :backoffice_sell_client_id %>
  </div>

  <div class="field">
    <%= form.label :value_cents %>
    <%= form.number_field :value_cents, id: :backoffice_sell_value_cents %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.number_field :code, id: :backoffice_sell_code %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :backoffice_sell_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
