<h1 class="page-header">Vendas</h1>

<div class="panel panel-default" >
    <div class="panel-heading">
        Opções
    </div>
    <!-- /.panel-heading -->

    <div class="panel-body">
        <div class="col-sm-12">
            <ul class="nav nav-pills nav-fill">
                <div class="col-sm-12">
                        <%= form_tag backoffice_sells_path, method: :get do %>
                        <div class="row">
                            <div class="col-sm-12 col-md-1">
                                <label>De:</label>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                    <%= date_field_tag('search_created_at[start_period]', params[:start_period], class: "form-control datepicker")  %>
                            </div>
                            <div class="col-sm-12 col-md-1">
                                <label>até:</label>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                    <%= date_field_tag('search_created_at[end_period]', params[:end_period], class: "form-control datepicker")  %>
                            </div>
                            <% if current_admin.id==2%>
                                <div class="col-sm-12 col-md-1">
                                        <label>Filial:</label>
                                    </div>
                                <div class="col-sm-12 col-md-2">
                                    <%= select_tag('search_branch',options_for_select(@branchs.map{|r| [r.name,r.id]}), {:include_blank => 'Todos', :class => "form-control"})  %>
                                </div>
                            <% end %>          
                        </div>
                        <div class="row">
                        </br>
                            <div class="col-md-1">
                                <label>Cliente:</label>
                            </div>
                            <div class="col-md-6">
                                <%= select_tag('search_client', options_for_select(@clients.map{|r| [r.name,r.id]}), {:include_blank => 'Todos', :class => "form-control"}) %>
                            </div>
                        </div>
                        <div class="row">
                                <%= hidden_field_tag('active', 0) %>
                                <%= submit_tag("Pesquisar", class: "btn btn-default") %>
                            <% end %>
                        </div>
                            
                </div>
            </ul>
        </div>
    </div>
    <!-- /.panel-body -->
</div>



<div class="panel panel-default" >
    <div class="panel-heading">
        Listando Vendas <span class="badge badge-light"><%= @contador.count %></span>
        <%= link_to new_backoffice_sell_path, class: "btn btn-success pull-right", style: "margin-top: -5px" do %>
            Novo Cadastro
        <% end %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Cliente</th>
                        <th>Valor</th>
                        <th>Data</th>
                        <th>Descrição</th>
                        <th>Nota Fiscal</th>
                        <th>Status</th>
                        <th>Tipo</th>
                        <th colspan="2">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <% somatotal = 0  %>
                    <% somavendas = 0 %>
                    <% somadev = 0 %>
                    
                    <% @sells.each do |sell| %>
                        <% if sell.status_br == "Ativo" %>
                            <tr>
                                <td width="3%"><%= sell.id %></td>
                                <td><%= sell.client.name %></td>
                                <td><%= humanized_money_with_symbol sell.value %></td>
                                <td><%= l(sell.sell_date) %></td>
                                <td><%= truncate(sell.description, length: 50) %></td>
                                <td><%= sell.code %></td>
                                <td><%= sell.status_br %></td>
                                <td><%= sell.sell_type_br %></td>
                                <td width="3%">
                                    <%= link_to edit_backoffice_sell_path(sell.id), class: "btn btn-primary btn-circle" do %>
                                        <i class="fa fa-edit"></i>
                                    <% end %>
                                </td>
                                <td width="3%">
                                        <%= link_to backoffice_sell_path(sell.id), class: "btn btn-danger btn-circle", data: {confirm: "Você realmente deseja excluir (#{sell.id})?"}, method: :delete do  %>
                                            <i class="fa fa-minus"></i>
                                        <% end %>
                                    <% somatotal = somatotal + sell.value  %>
                                    <% if sell.value > 0 %>
                                        <% somavendas = somavendas + sell.value %>
                                    <% else %>
                                        <% somadev = somadev + sell.value %>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
            <tr>
                <td>
                    Vendas: <%= humanized_money_with_symbol somavendas %> <br />
                    Devoluções: <%=humanized_money_with_symbol somadev %> <br />
                    Total: <%=humanized_money_with_symbol somatotal %>
                </td>
            </tr>
        </div>
        <!-- /.table-responsive -->
        </p> <center></center>
    <!-- /.panel-body -->
</div>

