<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @backoffice_sell.client %>
</p>

<p>
  <strong>Value cents:</strong>
  <%= @backoffice_sell.value_cents %>
</p>

<p>
  <strong>Code:</strong>
  <%= @backoffice_sell.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @backoffice_sell.description %>
</p>

<%= link_to 'Edit', edit_backoffice_sell_path(@backoffice_sell) %> |
<%= link_to 'Back', backoffice_sells_path %>
