<h1 class="page-header">Meus Resgates</h1>
<div class="panel panel-default" >
    <div class="panel-heading">
        Listando meus resgates <span class="badge badge-light"><%= @rescuepoints.count %></span>
       
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Parâmetro</th>
                        <th>Pontos</th>
                        <th>Resgatado</th>
                        <th>Cód. Voucher</th>
                        <th>Status do Voucher</th>
                        <th colspan="2">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <% @rescuepoints.each do |rescues| %>
                        <tr>
                            <td width="3%"><%= rescues.id %></td>
                            <td><%= rescues.rescuetype.label %></td>
                            <td><%= rescues.points %></td>
                            <td><%= rescues.rescued_br %></td>
                            <td><%= rescues.voucher.nil? ? 'Sem Voucher' : rescues.voucher.code  %></td>
                            <td><%= rescues.voucher.nil? ? 'Sem Voucher' : rescues.voucher.status  %></td>
                            <td>
                            <% if rescues.voucher  %>
                                    <%= link_to panel_rescuepoint_path(rescues), class: "btn btn-primary btn-circle", method: :get do %>
                                        <i class="fa fa-eye"></i>
                                    <% end %>
                            <% end %>
                            </td>
                            
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
        </p> <center><%= paginate @rescuepoints %></center>
    </div>
    <!-- /.panel-body -->
</div>

