<h1 class="page-header">Solicitar Resgate</h1>
<% if @rescuepoint.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <!-- message -->
    <ul>
      <% @rescuepoint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  </div>
<% end %>
<div class="panel panel-default" >
    <div class="panel-heading">
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="col-lg-6">
            <label>Cliente</label><br />
            <%= @rescuepoint.client.name %><br />
            <br />
            <label>Pontos Disponíveis</label><br />
            <%= @rescuepoint.client.available_points %><br />
            <br />
        
            <%= form_for([:panel, @rescuepoint]) do |f| %>
            <div class="form-group">
                <label>Quantos pontos você quer resgatar?</label>
                <%= f.text_field :points, class:"form-control" %>
            </div>
            <div class="form-group">
              <label>Qual o tipo de resgate?</label>
              <%= f.select :rescuetype_id, options_for_rescue(@rescuepoint.rescuetype_id), {}, {:class =>"form-control"} %>
            </div>
            <button type="submit" class="btn btn-default">Solicitar</button>
            <% end %>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /panel panel-default -->
