<h1 class="page-header">Mais Joias - Voucher</h1>


<div class="col-md-4">

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
        Dados
    </h4>

  </div>
   <div class="panel-body">

    <div class="box box-info">

            <div class="box-body">

            <div class="col-sm-12">
            <%# @dado.each do |rescues| %>
                <h4><strong>Nome: <%= @voucher.client.name %></strong></h4></span>
                <span><p>Status: <u><%= @voucher.client.status_br %></u></p></span>
                </div>
            <%# end %>

            <table class="table">
                <tbody>
                    <%# @dado.each do |rescues| %>
                        <%# abort "AAA" %>
                        <tr>
                            <td>Código:</td>
                            <td><%= @voucher.voucher.code %></td>
                        </tr>
                        <tr>
                            <td>Valor:</td>
                            <td><%= humanized_money_with_symbol @voucher.voucher.value %></td>
                        </tr>
                        <tr>
                            <td>Data:</td>
                            <td><%= l(Date.today) %></td>
                        </tr>
                    <%# end %>
                </tbody>
            </table>

            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
    </div>
    </div>
</div>

</div>
