<!--<div class="wrapper row2 bgded">
  <div class="overlay">-->
    <div id="intro" class="clear"> 
      <!-- ################################################################################################ -->
      <article class="one_third">
        <h3 class="heading">CLIENTE</h3>
        <ul class="nospace">
          <li><%= link_to image_tag('cliente.ico'), cliente_path %></li>
        </ul>
        <p class="link"><%= link_to 'ENTRAR »', cliente_path %></p>
      </article>
      <article class="one_third">
        <h3 class="heading">ADMINISTRADOR</h3>
        <ul class="nospace">
          <li><%= link_to image_tag('admin.ico'), admin_path %></li>
        </ul>
        <p class="link"><%= link_to 'ENTRAR »', admin_path %></p>
      </article>
      <!-- ################################################################################################ -->
    </div>
  </div>
</div>