<h1 class="page-header">Clientes</h1>
<div class="panel panel-default" >
    <div class="panel-heading">
        Listando clientes
        <%= link_to new_panel_client_path, class: "btn btn-success btn-circle pull-right", style: "margin-top: -5px" do %>
            <i class="fa fa-plus"></i>
        <% end %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Email</th>
                        <th colspan="2">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <% @clients.each do |client| %>
                        <tr>
                            <td width="3%"><%= client.id %></td>
                            <td><%= client.email %></td>
                            <td width="3%">
                                <%= link_to edit_panel_client_path(client.id), class: "btn btn-primary btn-circle" do %>
                                    <i class="fa fa-edit"></i>
                                <% end %>
                            </td>
                            <td width="3%">
                                <% if current_client.id != client.id %>
                                    <%= link_to panel_client_path(client.id), class: "btn btn-danger btn-circle", data: {confirm: "Você realmente deseja excluir (#{client.email})?"}, method: :delete do  %>
                                        <i class="fa fa-minus"></i>
                                    <% end %>
                                <% else %>
                                    <%= link_to '#', disabled: "disabled", class: "btn btn-danger btn-circle" do  %>
                                        <i class="fa fa-minus"></i>
                                    <% end %>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
        Número de registros: <%= @clients.count %>
    </div>
    <!-- /.panel-body -->
</div>

