<h1 class="page-header">Resgates</h1>
<% if @rescuepoint.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <!-- message -->
    <ul>
      <% @rescuepoint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  </div>
<% end %>
<div class="panel panel-default" >
    <div class="panel-heading">
        <%= action %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="col-lg-12">
            <label>Cliente</label><br />
            <%= @rescuepoint.client.name %><br />
            <br />
            <label>Cliente</label><br />
            <%= @rescuepoint.client.cpf %><br />
            <br />
            <label>Tipo de Resgate</label><br />
            <%= @rescuepoint.rescuetype.label %><br />
            <br />
            <label>Pontos</label><br />
            <%= @rescuepoint.points %><br />
            <br />
            <label>Data do Resgate</label><br />
            <%= @rescuepoint.date_rescue %><br />
            <br />
            <label>Resgatado</label><br />
            <%= @rescuepoint.rescued_br %><br />
            <br />
            <% if @rescuepoint.rescuetype_id==1%>
                <label>Banco</label><br />
                <%= @rescuepoint.client.bank.bank_name %><br />
                <br />
                <label>Tipo de Conta</label><br />
                <%= @rescuepoint.client.bank.bank_account_type %><br />
                <br />
                <label>Agência</label><br />
                <%= @rescuepoint.client.bank.bank_agency %><br />
                <br />
                <label>Conta</label><br />
                <%= @rescuepoint.client.bank.bank_account %><br />
                <br />
                <label>Variação</label><br />
                <%= @rescuepoint.client.bank.bank_variance %><br />
            <% end %>
        </div>
        <div class="col-lg-6">
            <%= form_for([:backoffice, @rescuepoint]) do |f| %>
                <%=f.hidden_field :rescued, :value => 1 %>
                <%=f.hidden_field :voucher_id, :value =>  @rescuepoint.voucher.nil? ? '' : @rescuepoint.voucher.id %>
                
                
            <br />
            <button type="submit" class="btn btn-default">Resgatar</button>
            <% end %>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /panel panel-default -->
