<h1 class="page-header">Editar parâmetro</h1>
<% if @parameter.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <!-- message -->
    <ul>
      <% @parameter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  </div>
<% end %>
<div class="panel panel-default" >
    <div class="panel-heading">
        <%= action %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="col-lg-6">
            <%= form_for([:backoffice, @parameter]) do |f| %>
            <div class="form-group">
                <label>NomeName</label>
                <%= f.text_field :name, class:"form-control",readonly: "yes" %>
            </div>
            <div class="form-group">
                <label>Value</label>
                <%= f.text_field :value, class:"form-control" %>
            </div>
           
            <button type="submit" class="btn btn-default">Cadastrar</button>
            <% end %>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /panel panel-default -->
