<h1 class="page-header">Administradores</h1>
<% if @admin.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <!-- message -->
    <ul>
      <% @admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  </div>
<% end %>
<div class="panel panel-default" >
    <div class="panel-heading">
        <%= action %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="col-lg-6">
            <%= form_for([:backoffice, @admin]) do |f| %>
            <div class="form-group">
                <label>Email</label>
                <%= f.text_field :email, class:"form-control", placeholder:"Email do administrador" %>
            </div>
            <div class="form-group">
                <label>Senha</label>
                <%= f.password_field :password, class:"form-control", placeholder:"Senha" %>
            </div>
            <div class="form-group">
                <label>Confirmação da Senha</label>
                <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Confirmação da Senha" %>
            </div>
            <div class="form-group">
                <label>Nome</label>
                <%= f.text_field :name, class:"form-control", placeholder:"Nome" %>
            </div>
            <div class="form-group">
                <label>CPF</label>
                <%= f.text_field :cpf, class:"form-control", placeholder:"CPF", onkeyup:"mascara('###.###.###-##',this,event)" %>
            </div>
            <div class="form-group">
                <label>RG</label>
                <%= f.text_field :rg, class:"form-control", placeholder:"RG", onkeyup:"mascara('##.###.###-#',this,event)" %>
            </div>
            <div class="form-group">
                <label>Status</label>
                <% if current_admin.id != @admin.id %>
                    <%= f.select :status, options_for_status(@admin.status), {}, {:class =>"form-control"} %>
                <% else %>
                    <br />Ativo
                <% end %>
            </div>
            <div class="form-group">
                <label>Filial</label>
                <%= f.collection_select(:branch_id, @branch_options_for_select, :id, :name, {}, {:class =>"form-control"}) %>
            </div>
            <button type="submit" class="btn btn-default">Cadastrar</button>
            <% end %>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /panel panel-default -->
