<h1 class="page-header">Dashboard</h1>


<div class="row">
	<div class="col-lg-3 col-md-6">
	    <div class="panel panel-primary">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-3">
	                    <i class="fa fa-users fa-5x"></i>
	                </div>
	                <div class="col-xs-9 text-right">
	                    <div class="huge"><%=@clients.count%></div>
						<div>Clientes ativos</div>
	                </div>
	            </div>
	        </div>
	        <a href="/clients">
	            <div class="panel-footer">
	                <span class="pull-left">Ver detalhes</span>
	                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                <div class="clearfix"></div>
	            </div>
	        </a>
	    </div>
	</div>
	<div class="col-lg-3 col-md-6">
	    <div class="panel panel-green">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-3">
	                    <i class="fa fa-user-plus fa-5x"></i>
	                </div>
	                <div class="col-xs-9 text-right">
	                    <div class="huge"><%=@clients_last_month.count%></div>
	                    <div>Clientes cadastrados no último mês</div>
	                </div>
	            </div>
	        </div>
	        <a href="/clients">
	            <div class="panel-footer">
	                <span class="pull-left">Ver detalhes</span>
	                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                <div class="clearfix"></div>
	            </div>
	        </a>
	    </div>
	</div>
	<div class="col-lg-3 col-md-6">
	    <div class="panel panel-yellow">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-3">
	                    <i class="fa fa-shopping-cart fa-5x"></i>
	                </div>
	                <div class="col-xs-9 text-right">
	                    <div class="huge"><%=@sells_last_month.count%></div>
	                    <div>Vendas do último mês</div>
	                </div>
	            </div>
	        </div>
	        <a href="/sells">
	            <div class="panel-footer">
	                <span class="pull-left">Ver detalhes</span>
	                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                <div class="clearfix"></div>
	            </div>
	        </a>
	    </div>
	</div>
	<div class="col-lg-3 col-md-6">
	    <div class="panel panel-red">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-3">
	                    <i class="fa fa-registered fa-5x"></i>
	                </div>
	                <div class="col-xs-9 text-right">
	                    <div class="huge"><%=@rescued_last_month.count%></div>
	                    <div>Resgates realizados no último mês</div>
	                </div>
	            </div>
	        </div>
	        <a href="#">
	            <div class="panel-footer">
	                <span class="pull-left">Ver detalhes</span>
	                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                <div class="clearfix"></div>
	            </div>
	        </a>
	    </div>
	</div>
</div>








