<h1 class="page-header">Clientes</h1>
<div class="panel panel-default" >
    <div class="panel-heading">
        Clientes Ativos <span class="badge badge-light"><%= @contativo %></span>
        <%= link_to new_backoffice_client_path, class: "btn btn-success pull-right", style: "margin-top: -5px" do %>
            Novo Cadastro
        <% end %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>CPF</th>
                        <th>Filiais</th>
                        <th>Pontos Total</th>
                        <th>Pontos disponíveis</th>
                        <th>Reativações</th>
                        <th>Status</th>
                        <th>Indicado por</th>
                        <th colspan="2">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <% @clients.each do |client| %>
                        <% if client.status_br == "Ativo" %>
                            <tr>
                                <td width="3%"><%= client.id %></td>
                                <td><%= client.name %></td>
                                <td><%= client.email %></td>
                                <td><ul><% client.phones.each do |phone|  %>
                                		<li><%=phone.phone%></li>
                                	<% end  %></ul>
                                </td>
                                <td><%= client.cpf %></td>
                                <td><%= client.branch.name %></td>
                                <td><%= client.total_points %></td>
                                <td><%= client.available_points %></td>
                                <td><%= client.total_reactive %></td>
                                <td><%= client.status_br %></td>
                                <td><%= client.client.nil? ? 'Sem Indicação' : client.client.name %></td>
                                <td width="3%">
                                    <%= link_to edit_backoffice_client_path(client.id), class: "btn btn-primary btn-circle" do %>
                                        <i class="fa fa-edit"></i>
                                    <% end %>
                                </td>
                                <td width="3%">
                                    <%= link_to backoffice_client_path(client.id), class: "btn btn-warning btn-circle", method: :get do  %>
                                        <i class="fa fa-search"></i>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>

<br />

<div class="panel panel-default" >
    <div class="panel-heading">
        Clientes Inativos <span class="badge badge-light"><%= @continativo %></span>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>CPF</th>
                        <th>Filiais</th>
                        <th>Pontos Total</th>
                        <th>Pontos disponíveis</th>
                        <th>Reativações</th>
                        <th>Status</th>
                        <th colspan="2">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <% @clients.each do |client| %>
                        <% if client.status_br == "Inativo" %>
                            <tr>
                                <td width="3%"><%= client.id %></td>
                                <td><%= client.name %></td>
                                <td><%= client.email %></td>
                                <td><ul><% client.phones.each do |phone|  %>
                                        <li><%=phone.phone%></li>
                                    <% end  %></ul>
                                </td>
                                <td><%= client.cpf %></td>
                                <td><%= client.branch.name %></td>
                                <td><%= client.total_points %></td>
                                <td><%= client.available_points %></td>
                                <td><%= client.total_reactive %></td>
                                <td><%= client.status_br %></td>
                                <td width="3%">
                                    <%= link_to edit_backoffice_client_path(client.id), class: "btn btn-primary btn-circle" do %>
                                        <i class="fa fa-edit"></i>
                                    <% end %>
                                </td>
                                <td width="3%">
                                    <%= link_to backoffice_client_path(client.id), data: { confirm: "Você realmente deseja excluir (#{client.email})?" }, class: "btn btn-danger btn-circle", method: :delete do  %>
                                        <i class="fa fa-minus"></i>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>

