<h1 class="page-header">Cliente Perfil</h1>


<div class="col-md-4 ">

<div class="panel panel-default">
  <div class="panel-heading">  <h4 >Dados Pessoais</h4></div>
   <div class="panel-body">

    <div class="box box-info">

            <div class="box-body">

            <div class="col-sm-12">
            <h4><strong>Nome: <%= @client.name %></strong></h4></span>
              <span><p>Status: <u><%= @client.status_br %></u></p></span>
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <td>Data de nascimento:</td>
                        <td><%= l(@client.birthdate) %></td>
                    </tr>
                    <tr>
                        <td>RG:</td>
                        <td><%= @client.rg %></td>
                    </tr>
                    <tr>
                        <td>CPF:</td>
                        <td><%= @client.cpf %></td>
                    </tr>
                    <tr>
                        <td>E-Mail:</td>
                        <td><%= @client.email %></td>
                    </tr>
                    <tr>
                        <td>Telefone:</td>
                        <td>
                            <ul>
                              <% @client.phones.each do |phone|  %>
                                <li><%=phone.phone%></li>
                              <% end  %>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Endereço:</td>
                        <td><%= @client.address %></td>
                    </tr>
                    <tr>
                        <td>Complemento:</td>
                        <td><%= @client.complement %></td>
                    </tr>
                    <tr>
                        <td>CEP:</td>
                        <td><%= @client.postal_code %></td>
                    </tr>
                    <tr>
                        <td>Bairro:</td>
                        <td><%= @client.neighbohod %></td>
                    </tr>
                    <tr>
                        <td>Cidade:</td>
                        <td><%= @client.city %></td>
                    </tr>
                    <tr>
                        <td>Estado:</td>
                        <td><%= @client.state %></td>
                    </tr>
                    <tr>
                        <td>País:</td>
                        <td><%= @client.country %></td>
                    </tr>
                </tbody>
            </table>

            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
    </div>
    </div>
</div>




<div class="col-md-4 ">

<div class="panel panel-default">
  <div class="panel-heading">  <h4 >Dados Bancário</h4></div>
   <div class="panel-body">

    <div class="box box-info">

            <div class="box-body">

            <div class="col-sm-12">

            <table class="table">
                <tbody>
                    <tr>
                        <td>Banco:</td>
                        <td><%= @client.bank.bank_name %></td>
                    </tr>
                    <tr>
                        <td>Tipo da conta:</td>
                        <td><%= @client.bank.bank_account_type %></td>
                    </tr>
                    <tr>
                        <td>Agência:</td>
                        <td><%= @client.bank.bank_agency %></td>
                    </tr>
                    <tr>
                        <td>Conta:</td>
                        <td><%= @client.bank.bank_account %></td>
                    </tr>
                    <tr>
                        <td>Variação:</td>
                        <td><%= @client.bank.bank_variance %></td>
                    </tr>
                </tbody>
            </table>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
    </div>
    </div>
</div>
</div>

<div class="col-md-4 ">

<div class="panel panel-default">
  <div class="panel-heading">  <h4 >Indicações</h4></div>
   <div class="panel-body">

    <div class="box box-info">

            <div class="box-body">

            <div class="col-sm-12">

            <table class="table">
                <tbody>
                    <tr>
                        <td>Indicado por:</td>
                        <td>Fulano</td>
                    </tr>
                    <tr>
                        <td>Indicou</td>
                        <td>Sicrano</td>
                        <td>Beltrano</td>
                    </tr>
                </tbody>
            </table>

            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
    </div>
    </div>
</div>
</div>

</div>
