<h1 class="page-header">Parâmetros</h1>
<div class="panel panel-default" >
    <div class="panel-heading">
        Listando parâmetros <span class="badge badge-light"><%= @contador.count %></span>
       
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Parâmetro</th>
                        <th>Código</th>
                        <th>Valor</th>
                        <th colspan="2">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <% @parameters.each do |parameter| %>
                        <tr>
                            <td width="3%"><%= parameter.id %></td>
                            <td><%= parameter.name %></td>
                            <td><%= parameter.label %></td>
                            <td><%= parameter.value %></td>
                            <td>
                            <%= link_to edit_backoffice_rescuepoint_path(parameter.id), class: "btn btn-primary btn-circle" do %>
                                <i class="fa fa-edit"></i>
                            <% end %>
                            </td>
                            
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
        </p> <center><%= paginate @parameters %></center>
    </div>
    <!-- /.panel-body -->
</div>

