<h1 class="page-header">Filiais</h1>
<div class="panel panel-default" >
    <div class="panel-heading">
        Listando filiais <span class="badge badge-light"><%= @contador.count %></span>
        <%= link_to new_backoffice_branch_path, class: "btn btn-success pull-right", style: "margin-top: -5px" do %>
            Novo Cadastro
        <% end %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th>Endereço</th>
                        <th>Bairro</th>
                        <th>Estado</th>
                        <th>Status</th>
                        <th colspan="2">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <% @branches.each do |branch| %>
                        <% if branch.status_br == "Ativo" %>
                            <tr>
                                <td width="3%"><%= branch.id %></td>
                                <td><%= branch.name %></td>
                                <td><%= branch.city %></td>
                                <td><%= branch.address %></td>
                                <td><%= branch.neighbohod %></td>
                                <td><%= branch.state %></td>
                                <td><%= branch.status_br %></td>
                                <td width="3%">
                                    <%= link_to edit_backoffice_branch_path(branch.id), class: "btn btn-primary btn-circle" do %>
                                        <i class="fa fa-edit"></i>
                                    <% end %>
                                </td>
                                <td width="3%">

                                    <% estado_admin = "" %>
                                    <% estado_client = "" %>

                                    <% branch.admins.each do |i|  %>
                                      <% estado_admin = i.name %>
                                    <% end %>

                                    <% branch.clients.each do |i|  %>
                                      <% estado_client = i.name %>
                                    <% end %>

                                    <% if estado_admin == "" && estado_client == "" %>
                                      <%= link_to backoffice_branch_path(branch.id), class: "btn btn-danger btn-circle", data: {confirm: "Você realmente deseja excluir (#{branch.name})?"}, method: :delete do  %>
                                       <i class="fa fa-minus"></i>
                                      <% end %>
                                    <% else %>
                                        <%= link_to '#', disabled: "disabled", class: "btn btn-danger btn-circle" do  %>
                                            <i class="fa fa-minus"></i>
                                        <% end %>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
        </p> <center><%= paginate @branches %></center>
    </div>
    <!-- /.panel-body -->
</div>

