<h1 class="page-header">Relatório de Vendas/Devoluções</h1><%#= debug @reportsells %>

<div class="panel panel-default" >
    <div class="panel-heading">
        Opções
    </div>
    <!-- /.panel-heading -->

    <div class="panel-body">
        <div class="col-sm-12">
            <ul class="nav nav-pills nav-fill">
                <div class="col-sm-12">
                        <%= form_tag panel_reportsells_path, method: :get do %>
                        <div class="col-sm-12 col-md-1">
                                <label>De:</label>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                    <%= date_field_tag('start_period', params[:start_period], class: "form-control datepicker")  %>
                            </div>
                            <div class="col-sm-12 col-md-1">
                                <label>até:</label>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                    <%= date_field_tag('end_period', params[:end_period], class: "form-control datepicker")  %>
                            </div>
                                <%= submit_tag("Pesquisar", class: "btn btn-default") %>
                            <% end %>
                </div>
            </ul>
        </div>
    </div>
    <!-- /.panel-body -->
</div>

<div class="panel panel-default" >
    <div class="panel-heading">
        Listando Vendas <span class="badge badge-light"><% %></span>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Valor</th>
                        <th>Data</th>
                        <th>Descrição</th>
                        <th>Nota Fiscal</th>
                        <th>Status</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    <% somavendas = 0
                        somadev = 0%>
                    <% @reports.each do |report| %>
                        <tr>
                            <td width="3%"><%= report.id %></td>
                            <td>R$ <%= report.value %></td>
                            <td><%= l(report.sell_date) %></td>
                            <td><%= report.description %></td>
                            <td><%= report.code %></td>
                            <td><%= report.status_br %></td>
                            <td><%= report.sell_type_br %></td>
                            <% if report.value > 0
                                    somavendas = somavendas + report.value
                                else
                                    somadev = somadev + report.value
                                end%>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <tr>
                <td>
                    Vendas: R$ <%= somavendas %> <br />
                    Devoluções: R$ <%= somadev %> <br />
                    Total: R$ <%= somavendas+somadev %> <br />
                </td>
            </tr>
        </div>
        <!-- /.table-responsive -->
        </p> <center><%#= paginate @reportsells %></center>
    </div>
    <!-- /.panel-body -->
</div>

