<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MaisJoias - Dashboard</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'backoffice', media: 'all' %>
    <%= stylesheet_link_tag    'login', media: 'all' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'backoffice' %>

    <%= csrf_meta_tags %>

</head>

<body>

 <%= yield %>

</body>

</html>



