

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MaisJoias - Dashboard</title>

    <%= wicked_pdf_stylesheet_link_tag 'application', media: 'all' %>
    <%= wicked_pdf_stylesheet_link_tag 'panel', media: 'all' %>

    <%= csrf_meta_tags %>
</head>
<body>
    <div id="wrapper">
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <%= yield %>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
      </div>
    <!-- /#wrapper -->

    <%= wicked_pdf_javascript_include_tag 'application' %>
    <%= wicked_pdf_javascript_include_tag 'panel' %>
</body>
</html>



