

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MaisJoias - Sistema</title>

    <%= stylesheet_link_tag    'login', media: 'all' %>
    <link href="templates/abele/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">

    <%= csrf_meta_tags %>

</head>

<body>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'backoffice' %>

    <script src="templates/abele/layout/scripts/jquery.min.js"></script> 
    <script src="templates/abele/layout/scripts/jquery.mobilemenu.js"></script>

    <%= render partial: 'layouts/shared/notifications'  %>

</body>

</html>



